<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic_launchscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{552,550}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{552,550}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>robot_add_clean_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,554},{468,468}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{468,468}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>robot_info_img_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{486,352}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,95},{486,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>robot_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1920}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>voicecontrol_btn_speaking_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,490},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,334}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee79faf45f37acc047dc01e8652f7dd8$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_2.png</string>
        </dict>
    </dict>
</plist>
