<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_robot_MsgBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{617,670}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,670}}</string>
                <key>sourceSize</key>
                <string>{617,670}</string>
            </dict>
            <key>new_robot_MsgBox_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,728},{282,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,201}}</string>
                <key>sourceSize</key>
                <string>{282,201}</string>
            </dict>
            <key>new_robot_btn_TimeSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1012},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>new_robot_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1152},{660,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,166}}</string>
                <key>sourceSize</key>
                <string>{660,166}</string>
            </dict>
            <key>new_robot_btn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{724,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,160}}</string>
                <key>sourceSize</key>
                <string>{724,160}</string>
            </dict>
            <key>new_robot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{637,1160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,1160}}</string>
                <key>sourceSize</key>
                <string>{637,1160}</string>
            </dict>
            <key>new_robot_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{724,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,858}}</string>
                <key>sourceSize</key>
                <string>{724,858}</string>
            </dict>
            <key>new_robot_reservation_set_time_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1012},{138,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,99}}</string>
                <key>sourceSize</key>
                <string>{138,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_724_1286_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d979bef7ceefe1e697aeee8b57bfee8$</string>
            <key>textureFileName</key>
            <string>RobotAll_724_1286_2.png</string>
        </dict>
    </dict>
</plist>
