<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic_launcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1264},{112,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{112,126}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>remote_btn_left_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{196,568}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{196,568}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>remote_btn_left_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{196,568}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{196,568}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>robot__map_img_stamp_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{350,825}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{350,825}}</string>
                <key>sourceSize</key>
                <string>{360,855}</string>
            </dict>
            <key>robot__map_img_stamp_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{350,825}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{350,825}}</string>
                <key>sourceSize</key>
                <string>{360,855}</string>
            </dict>
            <key>robot_action_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,144}}</string>
                <key>sourceSize</key>
                <string>{1080,144}</string>
            </dict>
            <key>robot_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1134},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_auto_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1054},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_auto_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1076},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1354},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>robot_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>robot_btn_voicemsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,268},{131,131}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{131,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>robot_btn_voicemsg_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,135},{131,131}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{131,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>robot_btn_voicemsg_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,2},{131,131}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,37},{131,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>robot_connect_ic_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,738},{30,52}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,54},{30,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_dialog_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,710},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{66,66}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>robot_dialog_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,642},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{66,66}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>robot_dialog_ic_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1423},{114,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{114,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_carpet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1249},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_clean_corner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1249},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_deep_clean_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1087},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_multiple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1087},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_single_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1087},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_ic_turo_automode.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1010},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_turo_clean_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,844},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_turo_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,778},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_turo_spiral.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,612},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_turo_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,380},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_turo_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,148},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>robot_ic_voicecontrol.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1188},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,47},{91,81}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>robot_info_img_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,700},{486,352}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,95},{486,352}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>robot_job_img_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{94,742}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,28},{94,742}}</string>
                <key>sourceSize</key>
                <string>{160,820}</string>
            </dict>
            <key>robot_main_ic_job.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1242},{188,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,39},{188,110}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>robot_main_ic_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1296},{120,120}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,45},{120,120}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>robot_main_ic_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1418},{130,106}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,57},{130,106}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>robot_main_ic_remote.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1651},{130,130}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,39},{130,130}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>robot_main_ic_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1087},{99,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,46},{99,83}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>robot_map_btn_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1281},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>robot_map_btn_out_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1249},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>robot_map_btn_wall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1432},{100,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,668},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>robot_map_btn_zoom_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,566},{140,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>robot_map_ic_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1915},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_ic_robot_interfere.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1134},{128,128}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_img_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,770},{95,443}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,88},{95,443}}</string>
                <key>sourceSize</key>
                <string>{131,545}</string>
            </dict>
            <key>robot_map_img_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,401},{163,156}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{163,156}}</string>
                <key>sourceSize</key>
                <string>{201,160}</string>
            </dict>
            <key>robot_map_img_stamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,354},{344,825}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{344,825}}</string>
                <key>sourceSize</key>
                <string>{360,855}</string>
            </dict>
            <key>robot_map_stamp_automode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1783},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_automode1_press22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1651},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_automode1_press23.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1915},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_automode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1783},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_carpet_oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1651},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_carpet_oval_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1915},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_carpet_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1783},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_carpet_rect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1651},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_corner_oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1915},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_corner_oval_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1783},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_corner_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1651},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_corner_rect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1519},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_deep_oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1483},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_deep_oval_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1411},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_deep_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1411},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_deep_rect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_multiple_oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1696},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_multiple_oval_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_multiple_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_multiple_rect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1564},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_single_oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_single_oval_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1406},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_single_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1406},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_single_rect_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1510},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_spiral1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1486},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_spiral1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1428},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_spiral2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1406},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_spiral2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1432},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_target1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_target1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1274},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_target2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1274},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_target2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1378},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_wall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1354},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_wall1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1296},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_wall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1274},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_stamp_wall2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1351},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_schedule_bg_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{140,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,812}}</string>
                <key>sourceSize</key>
                <string>{140,812}</string>
            </dict>
            <key>robot_schedule_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,700},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{62,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_schedule_btn_select_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,834},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{62,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_schedule_btn_tick_notmal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,700},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{60,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_schedule_btn_tick_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,700},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{60,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>robot_spiral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1054},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_standby.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,867},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_wallfollow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,867},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_wifi_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,770},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{62,62}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a584c2a6a6fd89917a2329dffe65123$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_3.png</string>
        </dict>
    </dict>
</plist>
