<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic_launchscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{554,552}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,43},{554,552}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>robot_action_ic_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,748},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{26,42}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_action_ic_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1065},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{68,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_action_ic_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1019},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{68,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_action_ic_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1149},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{60,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_btn_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,952},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>robot_btn_map_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,866},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>robot_btn_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,866},{92,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_btn_path_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,772},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_btn_path_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,772},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_arrow_later.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,459},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>robot_ic_arrow_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,422},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>robot_ic_carpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,670},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>robot_ic_deep_clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,670},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>robot_ic_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,632},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{44,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_delete_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,572},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{44,58}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1087},{62,62}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{62,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_edit_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1038},{62,62}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{62,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1102},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>robot_ic_keyboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,534},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{48,36}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_keyboard_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,496},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{48,36}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1102},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{60,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_new_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1087},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{60,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_scan.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1021},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{68,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_selectjob.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,720},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{42,26}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_ic_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,670},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>robot_main_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{962,666}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{962,666}}</string>
                <key>sourceSize</key>
                <string>{1000,712}</string>
            </dict>
            <key>robot_main_ic_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,776},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{18,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>robot_main_ic_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1006},{70,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{70,57}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>robot_main_ic_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,960},{70,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{70,57}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>robot_map_btn_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,938},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{66,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_delete_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,870},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{66,86}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,866},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>robot_map_btn_rotate_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,866},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>robot_map_btn_stretch.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,107},{50,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,103}}</string>
                <key>sourceSize</key>
                <string>{50,103}</string>
            </dict>
            <key>robot_map_btn_stretch_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{50,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,103}}</string>
                <key>sourceSize</key>
                <string>{50,103}</string>
            </dict>
            <key>robot_map_btn_stretch_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,317},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>robot_map_btn_stretch_vertical_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,212},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>robot_map_btn_undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,953},{66,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_undo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,953},{66,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{66,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,768},{100,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_map_btn_wall_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,670},{100,96}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{100,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>robot_schedule_bg_ic.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,776},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{34,35}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>robot_schedule_ic_list_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,692},{42,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{42,26}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_schedule_ic_list_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,772},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>robot_schedule_ic_notmal.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1021},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>robot_schedule_ic_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1021},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425daa7b374297119ecd24814ad0e305$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_2.png</string>
        </dict>
    </dict>
</plist>
