<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_robot_MsgBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{303,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,330}}</string>
                <key>sourceSize</key>
                <string>{303,330}</string>
            </dict>
            <key>new_robot_MsgBox_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{138,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,99}}</string>
                <key>sourceSize</key>
                <string>{138,99}</string>
            </dict>
            <key>new_robot_btn_TimeSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{125,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>new_robot_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,79},{324,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,82}}</string>
                <key>sourceSize</key>
                <string>{324,82}</string>
            </dict>
            <key>new_robot_btn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{356,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,78}}</string>
                <key>sourceSize</key>
                <string>{356,78}</string>
            </dict>
            <key>new_robot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,570}}</string>
                <key>sourceSize</key>
                <string>{313,570}</string>
            </dict>
            <key>new_robot_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{356,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,422}}</string>
                <key>sourceSize</key>
                <string>{356,422}</string>
            </dict>
            <key>new_robot_reservation_set_time_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,360},{138,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,99}}</string>
                <key>sourceSize</key>
                <string>{138,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_356_634_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02db37641e36da50f83c4c8aae081ea9$</string>
            <key>textureFileName</key>
            <string>RobotAll_356_634_1.png</string>
        </dict>
    </dict>
</plist>
