<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_robot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{950,1730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{950,1730}}</string>
                <key>sourceSize</key>
                <string>{950,1730}</string>
            </dict>
            <key>new_robot_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{1080,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1280}}</string>
                <key>sourceSize</key>
                <string>{1080,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc87462e45b10e036f987451301729bc$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_4.png</string>
        </dict>
    </dict>
</plist>
