<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_robot_MsgBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{460,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,500}}</string>
                <key>sourceSize</key>
                <string>{460,500}</string>
            </dict>
            <key>new_robot_MsgBox_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{210,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,150}}</string>
                <key>sourceSize</key>
                <string>{210,150}</string>
            </dict>
            <key>new_robot_btn_TimeSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,214},{125,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>new_robot_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,291},{492,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,124}}</string>
                <key>sourceSize</key>
                <string>{492,124}</string>
            </dict>
            <key>new_robot_btn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{540,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,119}}</string>
                <key>sourceSize</key>
                <string>{540,119}</string>
            </dict>
            <key>new_robot_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,865}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,865}}</string>
                <key>sourceSize</key>
                <string>{475,865}</string>
            </dict>
            <key>new_robot_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{540,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,640}}</string>
                <key>sourceSize</key>
                <string>{540,640}</string>
            </dict>
            <key>new_robot_reservation_set_time_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,785},{540,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,326}}</string>
                <key>sourceSize</key>
                <string>{540,326}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_960_540_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17381b159a0a39872243fb341b9c981$</string>
            <key>textureFileName</key>
            <string>RobotAll_960_540_1.png</string>
        </dict>
    </dict>
</plist>
