<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_launchscreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,1920}}</string>
                <key>sourceSize</key>
                <string>{1080,1920}</string>
            </dict>
            <key>remote_btn_godock_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,202},{570,198}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{570,198}}</string>
                <key>sourceSize</key>
                <string>{596,240}</string>
            </dict>
            <key>remote_btn_godock_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{570,198}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{570,198}}</string>
                <key>sourceSize</key>
                <string>{596,240}</string>
            </dict>
            <key>remote_btn_right_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,996},{196,568}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{196,568}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>remote_btn_right_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,798},{196,568}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{196,568}}</string>
                <key>sourceSize</key>
                <string>{240,596}</string>
            </dict>
            <key>remote_btn_up_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,600},{568,196}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{568,196}}</string>
                <key>sourceSize</key>
                <string>{596,240}</string>
            </dict>
            <key>remote_btn_up_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,402},{568,196}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{568,196}}</string>
                <key>sourceSize</key>
                <string>{596,240}</string>
            </dict>
            <key>robot_btn_explore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1728},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_explore_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1746},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_explore_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1634},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_spiral.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1414},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_spiral_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1194},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_spiral_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1172},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,952},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_wall_focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,732},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_btn_wall_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,512},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>robot_connect_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{602,101}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{602,101}}</string>
                <key>sourceSize</key>
                <string>{688,145}</string>
            </dict>
            <key>robot_fail_ic_nodevice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,312},{240,198}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,61},{240,198}}</string>
                <key>sourceSize</key>
                <string>{312,312}</string>
            </dict>
            <key>robot_ic_setup_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{308,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,308}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>robot_main_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1392},{352,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{352,352}}</string>
                <key>sourceSize</key>
                <string>{500,356}</string>
            </dict>
            <key>robot_map_img_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1924},{556,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{556,91}}</string>
                <key>sourceSize</key>
                <string>{590,125}</string>
            </dict>
            <key>voicecontrol_btn_speaking_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1392},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,334}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:947d34d0f78d4f6a01c02f5378897c51$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_1.png</string>
        </dict>
    </dict>
</plist>
