<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_robot_MsgBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{920,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,1000}}</string>
                <key>sourceSize</key>
                <string>{920,1000}</string>
            </dict>
            <key>new_robot_reservation_set_time_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{1080,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,720}}</string>
                <key>sourceSize</key>
                <string>{1080,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>RobotAll_1920_1080_5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62bebc955d8789e22d83e94260997f1b$</string>
            <key>textureFileName</key>
            <string>RobotAll_1920_1080_5.png</string>
        </dict>
    </dict>
</plist>
